<!DOCTYPE html>  
<html>  
  <head>  
    <title>Welcome to the Stock Market!</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <!-- Bootstrap -->  
    <link href="dist/css/bootstrap.min.css" rel="stylesheet" media="screen">  
  
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->  
    <!--[if lt IE 9]>  
      <script src="bootstrap-3.0.0/assets/js/html5shiv.js"></script>  
      <script src="bootstrap-3.0.0/assets/js/respond.min.js"></script>  
    <![endif]-->  
  </head>  
  <body>  
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">  
  <ul class="nav navbar-nav">  
  <li><a href="new.html" class="navbar-brand">  
  <img src="logo.jpg"></a></li>  
  <li class="active"><a href="#">Home</a></li>  
  <li><a href="ticker.html">Quote Search</a></li>  
  <li><a href="contact.html">Contact</a></li>
  <li><a href="login.html">Login</a></li>
  <li><a href="logout.html">Logout</a></li>
  <li><a href="portfolio.html">My Portfolio</a></li>
  </ul>  
    </nav>
  <div class="title">
    <h1>Welcome to the Stock Market!<h1> 
	<p> This is a stock market simulator that is still currently in development. Sign up to practice trading, as if you were in real life! </p> 
	  <p> If you want more options, you should donate to us! </p>
	  <p><a href="donate.html"></p>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->  
    <script src="//code.jquery.com/jquery.js"></script>  
    <!-- Include all compiled plugins (below), or include individual files as needed -->  
    <script src="dist/js/bootstrap.min.js"></script>  
  </body>  
</html>  
